@color:red;
@color-1:blue;
@color-2:green;
button{
  padding: 1em;
  margin: 1em;
  border: none;
  cursor: pointer;
}
.btn{

&-error{
  background: @color;
}
&-success{
  background: @color-2;
}
&-default{
  background: @color-1;
}
}