ul{
  @color:rgb(100,170,80);
  background: @color + 80;
  padding: 1em;
  li{
    @color:blue;
    display: block;
    background: @color / 2;
    a{
      color: black;
      background: @color;
    }
  }
}
.error{
  padding: 0.5em;
  margin: 1em;
  display: block;
  &-warn{ //вложенные правила
    background: lighten(yellow,30%);
  }
  &-alert{
    background:darken(red,30%);

  }
}