@color:grey;
@color-add:green;
@font-family:Georgio,sans;
@font-family-2:Arial,sans;
@gradient-color-1:#ff96af;
@gradient-color-2:#a3c7ff;

body{
  background: @color;
  font-family: @font-family;
}
.gradient{
  background: linear-gradient(top,@gradient-color-1,@gradient-color-2);
}
div{
color: @color;

}
p{
color: @color-add;
  font-family: @font-family-2;

}