ul {
  background: #b4faa0;
  padding: 1em;
}
ul li {
  display: block;
  background: #000080;
}
ul li a {
  color: black;
  background: blue;
}
.error {
  padding: 0.5em;
  margin: 1em;
  display: block;
}
.error-warn {
  background: #ffff99;
}
.error-alert {
  background: #660000;
}
