body {
  background: grey;
  font-family: Georgio, sans;
}
.gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff96af), to(#a3c7ff));
  background: -webkit-linear-gradient(top, #ff96af, #a3c7ff);
  background: -o-linear-gradient(top, #ff96af, #a3c7ff);
  background: linear-gradient(top, #ff96af, #a3c7ff);
}
div {
  color: grey;
}
p {
  color: green;
  font-family: Arial, sans;
}
